@tailwind base;
@tailwind components;

.btn {
  @apply inline-block px-5 py-3 rounded-lg uppercase tracking-wider font-semibold text-sm;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-primary {
  @apply bg-brand-blue text-white;
}

.btn-primary:hover {
  @apply bg-brand-blue-light;
}

.btn-primary:active {
  @apply bg-brand-blue-dark;
}

.btn-secondary {
  @apply bg-gray-400 text-gray-900;
}

.btn-secondary:hover {
  @apply bg-gray-300;
}

.btn-secondary:active {
  @apply bg-gray-500;
}

@tailwind utilities;
